# Mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that i f the folder exist on the server then dont change anything and dont run the rule

RewriteCond %{REQUEST_FILENAME} !-d

# Check f or file in directori with html exstension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the html exstantion

RewriteRule ^(.*)$ $1.html [NC,L]

# Put the filename in the bracket fo r the server to locate the indexfile without it beeing named index

DirectoryIndex [Hjem]